<div class="untree_co-section pb-0" id="about-section">
    <div class="container">
        <div class="row justify-content-center mb-3">
            <div class="col-lg-7 mx-auto text-center author-wrap">
                <img src="~/Content/images/person_1.jpg" alt="Image" class="img-fluid rounded-circle mb-3">
                <h3 class="text-black h5 font-weight-bold mb-2 gsap-reveal-hero">Berkay Sezer</h3>
                <p class="gsap-reveal-hero">Yazılım Geliştiricisi</p>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-lg-7">
                <p class="gsap-reveal-hero">2019 yılında İzmir Dokuz Eylül Üniversitesi Bilgisayar Bilimleri bölümünden mezun oldum. Hem okul eğitimim hem de kendimi geliştirmek için aldığım eğitimler pozisyonunuz için gerekli altyapıyı bana sağladı. Yanı sıra takım çalışması, analitik düşünebilme, araştırma, motivasyon, girişimcilik konularında kendimi geliştirdim. </p>
                <p class="gsap-reveal-hero">
                    Bilge Adam Bilişim Grubu ve Çalışma Bakanlığı’nın ortaklaşa düzenlemiş olduğu Nitelikli Bilişim Uzmanı Yetiştirme Programına katıldım. Bu program kapsamında C#, ASP.Net, .Net MVC , WebApi, Entity Framework, HTML5, CSS, Bootstrap, JavaScript, OOP, SQL gibi teknoloji ve programlama dillerini öğrendim.
                </p>
                <p class="gsap-reveal-hero">
                    Ağustos 2020'den beri Inova Yazılım ve Danışmanlık A.Ş. şirketinde Yazılım Geliştiricisi olarak çalışmaktayım. Alarko Carrier şirketi için geliştirmiş olduğumuz bayi/servis takip programı olan Bildirim Yönetim Sistemi'nde aktif olarak görev almaktayım.
                </p>
            </div>
        </div>
    </div>
</div>
