@using CvBerkaySezer.Models
@model List<Skill>

<div class="untree_co-section pb-0">
    <div class="container">
        <div class="row mb-4">
            <div class="col-lg-7 text-center mx-auto">
                <h2 class="section-heading gsap-reveal-hero mb-0"><strong>Yetenekler</strong></h2>
                <div class="wave gsap-reveal-hero">
                    <svg>
                        <path d="M10,10 L50,100 L90,50" stroke="#0389ff"></path>
                    </svg>
                </div>
            </div>
        </div>
        <div class="row">
            @foreach (var skill in Model)
            {
                <div class="col-6 col-sm-6 col-md-6 col-lg-3 text-center" data-aos="fade-up" data-aos-delay="0">
                    <div class="progressbar" data-animate="false">
                        <div class="circle" data-percent="@skill.Rate">
                            <div class="number"></div>
                            <p class="caption">@skill.Title</p>
                        </div>
                    </div>
                </div>
            }

        </div>
    </div>
</div>

