
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="icon" type="image/x-icon" href="https://berkaysezer.com/favicon.ico" />
    <title>Berkay Sezer</title>

    <link href="https://fonts.googleapis.com/css?family=Fredoka+One" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,700" rel="stylesheet">

    <link href="~/Content/ErrorPage/css/style.css" rel="stylesheet" />
</head>

<body>

    <div id="notfound">
        <div class="notfound">
            <div class="notfound-404">
                <h1>@Response.StatusCode</h1>
            </div>
            <h2>@ViewBag.Message</h2>
            <a href="/Home"><span class="arrow"></span>Ana Sayfaya Dön</a>
        </div>
    </div>

</body>
    <!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>
